@charset "UTF-8";
.introduction {
  color: #000;
}

.navbar-laravel {
  background-color: #000;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline 　　.caption {
  position: relative;
  width: 350px;
}
.headline .name .gender .hobby {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.headline .name .gender .hobby h1 {
  color: #fff;
  font-size: 1em;
}
.headline .introduction {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}
.posts .post .name .gender .hobby {
  font-size: 1em;
  font-weight: bold;
}
.posts .post .introduction {
  font-size: 0.8em;
}
